@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;600&family=Lora:wght@400;600&family=Montserrat:wght@400;600&display=swap');
@import url('https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

*,
*::before,
*::after,
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --font-m: 'Montserrat', sans-serif;
    --font-c: 'Crimson Pro', serif;
    --font-l: 'Lora', serif;
    --texte-style: normal;

    --primary-color: #ffffff;
    --gray-3: #828282;
    --black-2: #333333;
    --black-3: #181719;
    --gray-1: #F2F2F2;

    --text: 0.625rem;/*10px*/
    --text-xs: 0.75rem;/*12px*/
    --text-s: 0.875rem;/*14px*/
    --text-md: 1.125rem;/*18px*/
    --text-lg: 1.5rem;/*24px*/
    --text-xlg: 2.25rem;/*36px*/
    --text-xxlg: 3rem;/*48px*/
}
body{
    background-color: var(--black-3);
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    display: block;
}
.material-icons{
    color: var(--primary-color);
    cursor: pointer;
}
.material-icons {
    display: none;
}
.container{
    padding: 10px 70px;
    margin: auto;
}
.row{
    display: flex;
}
.header__row{
    justify-content: space-between;
    align-items: center;
}
header{
    padding: 0 15px;
}
section{
    padding: 100px 15px;
}
.main{
    margin-bottom: 3rem;
}
/* Header */
.brand-logo{
    border: 1px solid #ffffff;
    padding: 0.5rem;
}
.logo{
    font-family: var(--font-c);
    font-style: var(--texte-style);
    font-weight: 200;
    line-height: 16px;
    color: var(--primary-color);
    text-decoration: none;
    text-transform: uppercase;
}
.menu{
    list-style: none;
    padding: 0rem;
    margin: 0rem;
}
.menu__node{
    display: inline-block;
    margin-left: 4rem;
}
.menu__link{
    font-family: var(--font-c);
    font-style: var(--texte-style);
    font-weight: 500;
    font-size: var(--text-md);
    line-height: 78px;
    color: var(--primary-color);
    display: block;
}
.menu__link-active{
    font-weight: bold;
}
.icons-color{
    color: var(--gray-1);
}
.material-icons{
    display: none;
}
.row{
    justify-content: space-between;
}

/*Collection*/
.author{
    background-color: var(--black-3);
    padding: 15px;
    flex: 0 0 75%;
    max-width: 75%;
    position: absolute;
    right: 30px;
    bottom: -85px;   
}
.designer {
    flex: 0 0 50%;
    max-width: 45%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    position: relative;
}
.description {
    flex: 0 0 40%;
    max-width: 40%;
    margin-right: 3rem;
}
.divider{
    display: none;
}
.author__block{
    display: flex;
}
.author__image{
    flex: 0 0 30%;
    max-width: 30%;
    border-radius: 50%;
    margin-right: 15px;
}
.author__name{
    font-family: var(--font-m);
    font-style: var(--texte-style);
    font-size: var(--text-s);
    font-weight: 500;
    line-height: 17px;
    color: var(--primary-color);
    text-transform: capitalize;
}
.author__job{
    font-family: var(--font-m);
    font-style: var(--texte-style);
    font-size: var(--text-xs);
    line-height: 15px;
    color: var(--gray-3);
}
.descript{
    margin-top: 10px;
}
.title{
    font-family: var(--font-l);
    font-style: var(--texte-style);
    font-weight: bold;
    font-size: var(--text-lg);
    line-height: 31px;
    color: var(--primary-color);
}
.picture{
    flex: 0 0 100%;
}
.description > *{
    margin-bottom: 3rem;
}
.description__title{
    font-family: var(--font-l);
    font-style: var(--texte-style);
    font-weight: normal;
    font-size: var(--text-xxlg);
    line-height: 61px;
    color: var(--primary-color);
}
.description__content{
    font-family: var(--font-m);
    font-style: var(--texte-style);
    font-weight: 300;
    font-size: var(--text-lg);
    line-height: 29px;
    color: var(--primary-color);
    width: 75%;
}
.read{
    font-family: var(--font-m);
    font-style: var(--texte-style);
    font-weight: 600;
    font-size: var(--text-md);
    line-height: 22px;
    color: var(--primary-color);
    display: flex;
    align-items: flex-end;
}
.read .material-icons {
    margin-left: 1rem;
    line-height: 17px;
    color: var(--primary-color);
    display: block;
}

/* Footer */
footer{
    text-align: center;
}
.footer__paragraph, .footer__link{
    font-family: var(--font-m);
    font-style: var(--texte-style);
    font-weight: 600;
    font-size: var(--text-s);
    line-height: 17px;
    color: #a9a9a9;
}

/* Responsive */
@media only screen and (max-width: 768px){
    .container{
        margin: auto;
        padding: 10px 20px;
    }
    .brand-logo.no-border{
        border: none;
    }
    .logo.remove{
        display: none;
    }
    .material-icons{
        display: block;
    }
    .navbar{
        display: none;
        background-color: var(--black-3);
        width: 100%;
        position: absolute;
        left: 0;
        top: 60px;
        height: 100%;
        text-align: center;
        z-index: 99;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: transform .5s ease;
        transition: transform .5s ease;
    }
    .navbar.show {
        display: block;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .menu{
        margin: 4rem auto;
    }
    .navbar .menu__node{
        display: block;
        margin: auto;
    }
    .menu__link{
        line-height: 52px;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    .description, .designer{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .description__title{
        font-size: var(--text-xlg);
        line-height: 46px;
    }
    .description__content, .read{
        font-size: var(--text-s);
        line-height: 17px;
    }
    .author__name{
        font-size: var(--text-xs);
        line-height: 15px;
    }
    .author__job{
        font-size: var(--text);
        line-height: 12px;
    }
    .title{
        font-size: var(--text-md);
        line-height: 23px;
    }
    .author{
        bottom: -65px;
        right: 100px;
    }
    .author__image{
        max-width: 25%;
    }
}

@media only screen and (max-width: 375px){
    .author{
        bottom: -85px;
        right: 25px;
    }
    footer::before{
        content: "";
        width: 90%;
        height: 1px;
        border-top: 1px solid #a9a9a9;
    }
}